body {
    background: url("fg.jpg") no-repeat;
    background-size: cover;
    font-family: Arial;
    margin:0px auto;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    right: 50px;
}
ul li {
    float: left;
    width: 350px;
    height: 40px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 50% 50% 20% 20%/50%; 
    -webkit-border-radius: 50% 50% 20% 20%/50%; 
    -moz-border-radius: 50% 50% 20% 20%/50%;
}
ul li a {
    text-decoration: none;
    color: white;
    display: block;
    border-radius: 50% 50% 20% 20%/50%; 
    -webkit-border-radius: 50% 50% 20% 20%/50%; 
    -moz-border-radius: 50% 50% 20% 20%/50%;
}
ul li a:hover {
	background-color: green;
}
ul li ul li {
    display: none;
}
ul li:hover ul li {
    display: block;
}
#menu {
    position:absolute;
    left:220px;
    top:25px;
    text-align: center;
}
#img1 img {
    max-width:225px;
    width:225px;
    width:expression(document.body.clientWidth>600?"600px":"auto");
    overflow:hidden;
}
#img1 {
    position:absolute;
    left:0px;
    top:-25px;
}
